nav {
  display: flex;
  justify-content: space-between;
  padding: 0 24px;
  border-bottom: solid 1px var(--very-light-pink);
}

.menu {
  display: block;
}

.nav-logo {
  width: 100px;
}

.navbar-left {
  display: flex;
  margin-left: 0px;
}

.navbar-left ul {
  margin-left: 20px;
  display: none;
}

.navbar-right ul {
  list-style-type: none;

  /* Se resetea el valor del "padding" del elemento "ul", quitándole así el valor de "padding" 
        predeterminado que el navegador asigna a dicho elemento. */
  padding: 0;
  /* Se resetea el valor del "margin" del elemento "ul", quitándole así el valor de "margin" 
        predeterminado que el navegador asigna a dicho elemento. */
  margin: 0;
  display: flex;
  align-items: center;
  height: 60px;
}

.navbar-left ul li a,
.navbar-right ul li a {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--white);
  padding: 8px;
  border-radius: 8px;
}

.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
  text-decoration: none;
  color: var(--very-light-pink);
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
}

.navbar-email {
  color: var(--very-light-pink);
  font-size: var(--sm);
  margin-right: 12px;

  cursor: pointer;
}

.navbar-shopping-cart {
  position: relative;
  cursor: pointer;
}
.navbar-shopping-cart div {
  width: 16px;
  height: 16px;
  background-color: var(--hospital-green);
  border-radius: 50%;
  font-size: var(--sm);
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -3px;

  /* Las siguientes tres propiedades se utilizan para centrar el div, que se encuentra arriba a la derecha 
        del ícono del carrito de compras. Si no se utilizara "flex" para alinear dicho "div", 
        el número dentro del "div" no quedaría alineado respecto al color de fondo del "div". */
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 640px) {
  .menu {
    display: none;
  }

  .navbar-left ul {
    display: flex;
  }

  .navbar-left ul {
    list-style-type: none;

    /* Se resetea el valor del "padding" del elemento "ul", quitándole así el valor de "padding" 
        predeterminado que el navegador asigna a dicho elemento. */
    padding: 0;
    /* Se resetea el valor del "margin" del elemento "ul", quitándole así el valor de "margin" 
        predeterminado que el navegador asigna a dicho elemento. */
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
  }
}
